* {
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}

.home-container {
  background-attachment: fixed;
  background-image: url("./assets/belle.png");
  background-position: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.home-description {
  margin: 5vh 5vw;
  width: 40vw;
}

.page-title {
  color: #f4b7ad;
  font-size: 40px;   
}

.page-text {
  color: #908a82;
  font-size: 35px;  
  line-height: 1.4em;
}

.get-started-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
}

.btn {
  background-color: #f4b7ad;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 26px;
  margin: 0 0 0 3vw;
  padding: 1vh 1vw;
}

.btn a {
  color: white;  
  text-decoration: none;
}

.btn:hover {
  background-color: #fccbc4;
}

.page-background {
  background-color: #fdf3e5;
}

.return-link {
  color: #f4b7ad;
  font-size: 35px;
  margin: 3vh 3vw; 
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  height: auto;
  margin: 2vh 3vw;
  padding: 1vh 4vw; 
}

.container-shadow {
	box-shadow: 4px 8px 6px -5px #777;
	-moz-box-shadow: 4px 8px 6px -5px #777;
	-webkit-box-shadow: 4px 8px 6px -5px #777;
}

.offset-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #f4b7ad;
  color: #908a82; 
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.cipher-btn {
  margin: auto;
  width: 45%;
}

@media only screen and (max-width: 1350px) {
  .home-container {
    background-image: url("./assets/mobile.png");
    background-position: none;
    background-size: cover;
  }

  .home-description {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 5vh auto;
    padding: 3vh 4vw;
    width: 80vw;
  }
}