* {
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}

.home-container {
  background-attachment: fixed;
  background-image: url("./assets/belle.png");
  background-position: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.home-description {
  margin: 4vh 5vw;
  width: 40vw;
}

.page-title {
  color: #f4b7ad;
  font-size: 40px;   
}

.page-text {
  color: #908a82;
  font-size: 35px;  
  line-height: 1.4em;
}

.get-started-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
}

.btn {
  background-color: #f4b7ad;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 26px;
  margin: 0 0 0 3vw;
  padding: 1vh 1vw;
}

.btn a {
  color: white;  
  text-decoration: none;
}

.btn:hover {
  background-color: #fccbc4;
}

.page-background {
  background-color: #fdf3e5;
}

.return-link {
  color: #f4b7ad;
  font-size: 35px;
  margin: 0 3vw; 
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  height: auto;
  margin: 2vh 3vw;
  padding: 1vh 4vw; 
}

.container-shadow {
	box-shadow: 4px 8px 6px -5px #777;
	-moz-box-shadow: 4px 8px 6px -5px #777;
	-webkit-box-shadow: 4px 8px 6px -5px #777;
}

.error-message {
  color: red;
}

.offset-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #f4b7ad;
  color: #908a82; 
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.cipher-btn {
  margin: auto;
  width: 45%;
}

.cipher-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 82vh;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.cipher-container section {
  width: 45%;
  min-height: 70vh;
  margin: 2vh 3vw;
}

.message-box {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #f4b7ad;
  height: 50vh;
  resize: none;  
  width: 100%;
}

.choose-option-again {
  color: #f4b7ad;
  cursor: pointer;
  font-size: 20px;
}

.choose-option-again:hover, .return-link:hover {
  color: #fccbc4;
}

.letter-box {
  height: 30vh;
  overflow: scroll;
  padding-right: 4vw;
  width: 100%;
  white-space: pre-wrap;  
  word-break: break-all;
}

footer {
  color:#908a82;
  font-size: 20px;
  padding-left: 5vw;
}

footer p {
  margin: 0;
}

footer p a {
  color:#908a82;
}

footer p a:hover {
  color:#f4b7ad;
}

@media only screen and (max-width: 1350px) {
  .home-container {
    background-image: url("./assets/mobile.png");
    background-position: none;
    background-size: cover;
  }

  .home-description {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 5vh auto;
    padding: 3vh 4vw;
    width: 80vw;
  }
  .cipher-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: unset;
  }

  .cipher-container section {
    min-height: auto;
    width: 90%;
  }

  .visible {
    display: block;
  }
  
  .invisible {
    display: none;
  }

  .footer-box {
    background-color: #f4b7ad;
    text-align: center;
  }
}